@import '../../styles/_variables.scss';

.input {
  border: none;
  border-bottom: 1px solid #333333;
  margin-bottom: 12px;
  color: #c2c2c2;
  width: 100%;
  outline: none;

  &:focus {
    color: #333333;
  }

  &__validation {
    color: $red-color;
    font-size: 0.8rem;
    margin-top: -12px;
  }
}
